<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<p> Be anonymous, or  don't!  Your email address is NEVER public, but whatever you enter into the "Name" section below is what people on OHinAA will see you as (they must be logged in). And you can update or change this "Name" at any time.  To add an image to your profile, use the <a href="http://gravatar.com/emails">gravatar</a> "change" link at the bottom. </p>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for(@user) %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>
