<% provide(:title, @user.name) %>


<div id="lft" class="box">

    
 </div>

 <div id="middle" class="box">

    <% if @user.microposts.any? %>
      <h3>Overheard: (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>


    </div>

   <div id="rght" class="box">
   
   <section>
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
   
   <%= render 'shared/stats' %>
   
   <%= render 'follow_form' if signed_in? %>
   </div>
