<% provide(:title, 'AA Resources') %>

<div id="ct_lft" class="box">

<script type="text/javascript"><!--
google_ad_client = "ca-pub-1067848072259866";
/* ohinaa */
google_ad_slot = "7424008643";
google_ad_width = 120;
google_ad_height = 240;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
               
<script type="text/javascript"><!--
google_ad_client = "ca-pub-1067848072259866";
/* ohinaa */
google_ad_slot = "7424008643";
google_ad_width = 120;
google_ad_height = 240;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>

<div id="ct_middle" class="box">

<h3>Resources </h3>

   <p>Many resources are available for people who seek information or help pertaining to alcoholism and alcohol dependency.</p> 

   <p>Alcoholism does not discriminate against gender, age, race, location, or socioeconomic status.  It is an "Equal Opportunity" disease. In the rooms of AA, we meet people from many walks of life:  soccer moms, grandfathers, people with disabilities, tall people, young people, rich and poor.  What brings us together is the fact that "we can't do it alone".  </p> 

   <p>One of the safest places to find out whether or not you are "one of us" is at a meeting of AA.  Nobody will make you speak, and nobody will tell you whether you are or not an alcoholic.  We've found that it helps to listen for similarities, not differences.  To find out about meetings near you, try searching for your county name in quotes + AA.  Here's an example, if you live in LA County:  </p>

   <div id="code" class="code">
     "Los Angeles County" AA
   </div>

   <p></p>

   <form action="http://www.google.com" id="cse-search-box" target="_blank">
  <div>
    <input type="hidden" name="cx" value="partner-pub-1067848072259866:6947208457" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="37" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>



   <p> If attending a meeting sounds too overwhelming for you at this point, here are some online resources: </p>

<ul>
   <li><%= link_to "AA World Services", 'http://www.aa.org' %></li>
   <li><%= link_to "Sober Recovery Forums", 'http://www.soberrecovery.com/forums/' %></li>
   <li><%= link_to "The Grapevine Meeting in a Magazine", 'http://www.aagrapevine.org/' %></li>
   <li><%= link_to "The Big Book Onlline", 'http://anonpress.org/bb/' %></li>
   <li><%= link_to "e-AA", 'http://www.e-aa.org/' %></li>
   <li><%= link_to "Staying Cyber", 'http://www.stayingcyber.org/index.htm' %></li>
</ul>


</div>



<div id="ct_rght" class="box">

<br /><p></p>


<br /><p></p>

  

</div>

</div>

</div>	
</div>