<% provide(:title, 'Colophon') %>

<div id="ct_lft" class="box">

</div>

<div id="ct_middle" class="box">


<h3>Codebase &amp; Colophon</h3>
   <p></p>

   <p>OHinAA was originally authored in <%= link_to "Ruby on Rails", 'http://rubyonrails.org/' %> (Ruby 3.2.8 with Rails 1.9.3).</p>

   <p>The nuts and bolts are based loosely on the fan<em>tabulous</em> <%= link_to "RailsTutorial", 'http://railstutorial.org' %>.</p>

   <p>To offset the costs of hosting, this site is supported by ads and <%= link_to "donations", donations_path %>.  </p>
    
   <p>Wanna volunteer for admin-related stuff, purging of spam, keeping an eye on things?  Write to LSC @ <%= link_to "hackeress.com", 'http://hackeress.com' %>, who coincidentially is responsible for this <%= link_to "gorgeous website design", 'http://www.hackeress.com' %>. Background image by <%= link_to "SkyBlue2U", 'http://www.colourlovers.com/pattern/2525598/Conchos_Leather' %>.   

   <p>Hosting is on <%= link_to "Linode", 'http://www.linode.com/?r=e4c15a5a5b91a8cd10bdb9e5df989a2c373c3aeb' %>, which rocks as much as a webhost can rock. (For the love of God, never ever use GoDaddy!).</p>

   <p>The entire codebase is <%= link_to "hosted on Github", 'http://github.com/indie/serenity' %>, so feel free to fork, contribute, and issue pull requests for new features.</p>
               
</div>



<div id="ct_rght" class="box">

<br /><p></p>


<br /><p></p>

  

</div>

</div>

</div>	
</div>
