<br><br />

<footer class="main">
<div class="container">
<hgroup class="tagline">
<h3>one day at a time . . .</h3>
</hgroup>
<nav class="sitemap">

<ul>
<li><%= link_to "tos", tos_path %></li>
<li><%= link_to "anonymity & privacy", privacy_path %></li></ul>
<ul>
<li><%= link_to "contact", contact_path %></li>
<li><%= link_to "codebase & colophon", colophon_path %></li>

</ul>

</nav>
</div>
</footer>

<div id="footer-container">
<div id="footer-column-left" class="footer-content-left">
      <%= link_to image_tag("facebook.png", alt: "Facebook"), 'https://www.facebook.com/OHinAA/' %>
      <%= link_to image_tag("pinlove.png", alt: "Pinterest"), 'https://www.pinterest.com/ohinaa/' %>
      <%= link_to image_tag("twitter.gif", alt: "Twitter"), 'https://www.twitter.com/ohinaa_/' %>
      <%= link_to image_tag("stumbleupon.png", alt: "Stumbleupon"), 'http://www.stumbleupon.com/content/290aWf' %>


<div id="footer-column-right" class="footer-content-right">
 powered by <%= link_to image_tag("rails.png", alt: "Rails"), 'http://www.rubyonrails.com/' %> 


</div> 
</div>


<%= yield :scripts %>
